<div class="navbar navbar-default code-nav" role="navigation" ng-controller="UserController as users">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="landing">CoffeeCoder</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="menu-item"><a ui-sref="lessons">Lessons <i class="fa fa-book"></i></a></li>
        <li class="menu-item"><a ui-sref="code">Practise <i class="fa fa-file-code-o"></i></a></li>
        <li class="menu-item"><a>Help <i class="fa fa-support"></i></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="users.isLoggedIn()" class="menu-item dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="menu-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Subscriptions <i class="fa fa-star"></i></a></li>
            <li class="menu-item dropdown"><a ui-sref="create" class="dropdown-toggle" data-toggle="dropdown">Create a Lesson <i class="fa fa-university"></i></a></li>
            <li class="menu-item dropdown"><a ui-sref="profile" class="dropdown-toggle" data-toggle="dropdown">My Profile <i class="fa fa-wrench"></i></a></li>
            <li class="divider"></li>
            <li class="menu-item dropdown"><a ng-click="users.logout()" class="dropdown-toggle" data-toggle="dropdown">Logout <i class="fa fa-sign-out "></i></a></li>
          </ul>
        </li>
      </ul>
      <!-- DROPDOWN LOGIN STARTS HERE  -->
      <ul ng-hide="users.isLoggedIn()" id="signInDropdown" class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-info navbar-btn dropdown-toggle"><i class="glyphicon glyphicon-user"></i> Login
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li style="width: 250px;">
              <form class="navbar-form form" role="form" ng-submit="users.login()">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input id="emailInput" placeholder="email address" class="form-control" type="email" ng-model="users.user.email" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                    <input id="passwordInput" placeholder="password" class="form-control" type="password" ng-model="users.user.password" required>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary form-control">Login</button>
                </div>
                <div class="form-group">
                  <span class="pull-right"><a href="#">Forgot Password?</a></span>
                </div>
              </form>
            </li>
          </ul>
        </li>
      </ul>
      <!-- DROPDOWN LOGIN ENDS HERE  -->
    </div>
  </div>
</div>

<div class="container" ng-controller="CodeController as code">

  <div class="row" id="code-match">
    <div class="col-sm-12">
      <div class="alert alert-success lighter-text alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Aww yeah!</strong> You have successfully completed this lesson.
        <a ui-sref="lessons" class="alert-link"> Click for more lessons!</a>
      </div>
    </div>
  </div>

  <div class="row" id="no-code-match">
    <div class="col-sm-12">
      <div class="alert alert-danger lighter-text alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Darn!</strong> Not quite, keep at it!
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6" ng-if="code.lesson.title">
      <div class="text-center">
        <h3>{{code.lesson.title}}
          <i class="fa fa-star-o sub-btn" ng-click="code.subscribe()"></i>
        </h1>
        <p>Difficulty: <span class="badge badge-diff-{{code.lesson.difficulty}}">{{code.lesson.difficulty}}</span></p><br>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          {{code.lesson.summary}}
        </div>
        <div class="panel-body lighter-text">
          {{code.lesson.content}}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div id="codeInput" class="code-input"></div>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-12">
      <h4 class="text-center"><a href="#" ng-click="code.checkResults()" onclick="runCode()">Run!</a></h4><br>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading text-center">Output</div>
        <div class="panel-body">
          <div id="codeOutput" class="code-output"></div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Load REPL -->
<script src="js/repl.js"></script>
