<div class="navbar navbar-default code-nav" role="navigation" ng-controller="UserController as users">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="landing">CoffeeCoder</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="menu-item"><a ui-sref="lessons">Lessons <i class="fa fa-book"></i></a></li>
        <li class="menu-item"><a ui-sref="code">Practise <i class="fa fa-file-code-o"></i></a></li>
        <li ng-show="users.isLoggedIn()" class="menu-item"><a ui-sref="leaderboard">Leaderboard <i class="fa fa-trophy"></i></a></li>
        <li ng-show="users.isLoggedIn()" class="menu-item"><a>Help <i class="fa fa-support"></i></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="users.isLoggedIn()" class="menu-item dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="menu-item dropdown"><a ui-sref="subbedLessons" class="dropdown-toggle" data-toggle="dropdown">Manage Subscriptions <i class="fa fa-star"></i></a></li>
            <li class="menu-item dropdown"><a ui-sref="create" class="dropdown-toggle" data-toggle="dropdown">Create a Lesson <i class="fa fa-university"></i></a></li>
            <li class="menu-item dropdown"><a ui-sref="profile" class="dropdown-toggle" data-toggle="dropdown">My Profile <i class="fa fa-wrench"></i></a></li>
            <li class="divider"></li>
            <li class="menu-item dropdown"><a ng-click="users.logout()" class="dropdown-toggle" data-toggle="dropdown">Logout <i class="fa fa-sign-out "></i></a></li>
          </ul>
        </li>
      </ul>
      <!-- DROPDOWN LOGIN STARTS HERE  -->
      <ul ng-hide="users.isLoggedIn()" id="signInDropdown" class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-info navbar-btn dropdown-toggle"><i class="glyphicon glyphicon-user"></i> Login
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li style="width: 250px;">
              <form class="navbar-form form" role="form" ng-submit="users.login()">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input id="emailInput" placeholder="email address" class="form-control" type="email" ng-model="users.user.email" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                    <input id="passwordInput" placeholder="password" class="form-control" type="password" ng-model="users.user.password" required>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary form-control">Login</button>
                </div>
              </form>
            </li>
          </ul>
        </li>
      </ul>
      <!-- DROPDOWN LOGIN ENDS HERE  -->
      <!-- DROPDOWN REGISTER STARTS HERE  -->
      <ul ng-hide="users.isLoggedIn()" id="registerDropdown" class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <button type="button" id="dropdownMenu2" data-toggle="dropdown" class="btn btn-success navbar-btn dropdown-toggle"><i class="glyphicon glyphicon-user"></i> Register
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li style="width: 250px;">
              <form class="navbar-form form" role="form" ng-submit="users.register()">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input id="emailInput" placeholder="email address" class="form-control" type="email" ng-model="users.user.email" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                    <input id="passwordInput" placeholder="password" class="form-control" type="password" ng-model="users.user.password" required>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary form-control">Register</button>
                </div>
              </form>
            </li>
          </ul>
        </li>
      </ul>
      <!-- DROPDOWN REGISTER ENDS HERE  -->
    </div>
  </div>
</div>

<div class="container" ng-controller="UserController as users">

  <div class="row">
    <div class="col-sm-12">

      <div class="list-group text-center" ng-repeat="user in users.all | orderBy:users.all.points:true | limitTo:100">
        <li class="list-group-item">
          <h4>{{user.local.email}}</h4>
          <h4 class="lighter-text"><small>{{user.points}}</small></h4>
        </li>
      </div>

    </div>
  </div>

</div>
